# Splitting, Preprocessing and Model Development
This notebook is used for:


### Declaring Imports

In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import ticker
from matplotlib.colors import LogNorm, Normalize
import sklearn
import warnings
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

In [99]:
def equivalent_dfs(df1, df2):
    if ()
    return (df1.reset_index(drop=True) == df2.reset_index(drop=True)).all().all()

### Color Palette & Typeface Sizing

In [2]:
YELLOW = '#F2DC5D'
GREEN = '#9BC53D'
DARK_GREEN = '#597222'
RED = '#C3423F'
LIGHT_BLUE = '#2596BE'
GRAY = '#666666'

AXIS_SIZE = 12
TITLE_SIZE = 16
DESCRIPTION_SIZE = 9
FIGURE_SIZE = (10*2/3,6*2/3)

RANDOM_STATE = 14

In [144]:
#****************************************************import dataset****************************************************
df = pd.read_csv('../data/final.csv', dtype={'citizen': 'string', 'sex': 'string', 'age': 'string', 'decision': 'string', 'geo': 'string', 'TIME_PERIOD': 'string', 'GENCONV': "Int64", 'HUMSTAT': "Int64", 'SUB_PROT': "Int64", 'REJECTED': "Int64", 'TOTAL_POS': "Int64", 'TOTAL_APPS': "Int64", "POS_RATE": "Float64"}, keep_default_na=False, na_values=['nan'])

##remove partial 2023-Q3 Data
df = df[df["TIME_PERIOD"] != "2023-Q3"]

df

,citizen,sex,age,geo,TIME_PERIOD,GENCONV,HUMSTAT,SUB_PROT,REJECTED,TOTAL_POS,TOTAL_APPS
0,AD,F,UNK,AT,2008-Q1,0,0,0,0,0,0
1,AD,F,UNK,AT,2008-Q2,0,0,0,0,0,0
2,AD,F,UNK,AT,2008-Q3,0,0,0,0,0,0
3,AD,F,UNK,AT,2008-Q4,0,0,0,0,0,0
4,AD,F,UNK,AT,2009-Q1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7221109,ZW,UNK,Y_LT14,UK,2019-Q3,0,0,0,0,0,0
7221110,ZW,UNK,Y_LT14,UK,2019-Q4,0,0,0,0,0,0
7221111,ZW,UNK,Y_LT14,UK,2020-Q1,0,0,0,0,0,0
7221112,ZW,UNK,Y_LT14,UK,2020-Q2,0,0,0,0,0,0
7221113,ZW,UNK,Y_LT14,UK,2020-Q3,0,0,0,0,0,0

In [168]:
#****************************************************re-sort dataframe****************************************************

sort_order = ['citizen', 'sex', 'age', 'geo', 'TIME_PERIOD']
df = df.sort_values(by =sort_order) 

#*********************************************create sequential list of quarters****************************************************

quarters = []
for i in range(2008, 2024):
    quarters.append(str(i) + "-Q1")
    quarters.append(str(i) + "-Q2")
    quarters.append(str(i) + "-Q3")
    quarters.append(str(i) + "-Q4")

#****************************************************lagged features****************************************************

QUARTERS_OF_LAG = (4 * 2)

def add_lagged_features(df, features, maintained_columns, QUARTERS_OF_LAG):
    quarters = np.unique(df["TIME_PERIOD"])
    def lagged_features(target_var, lag_count, unit):
        #check inputs
        if (not(isinstance(target_var, pd.Series))):
            raise Exception("target_var not a pandas Series")
        if (lag_count <= 0):
            warnings.warn('lag_count <= 0, so no lag will be applied to ' + str(target_var.name))

        lagged = pd.DataFrame()
        columns = []
        for i in range(1, lag_count + 1):
            lagged = pd.concat([lagged, target_var.shift(i)], axis=1)
            name = target_var.name
            if (i == 1):
                columns.append(name + " - lag " + str(i) + " " + str(unit))
            else:
                columns.append(name + " - lag " + str(i) + " " + str(unit) + "s")
        lagged.columns = columns
        return lagged.astype('Int64')

    #introduce lag for each feature
    df_lagged = df
    for f in features:
        df_lagged = pd.concat([df_lagged, lagged_features(df[f], QUARTERS_OF_LAG, "quarter")], axis=1)

    #remove all features with less than the lag amount of historical data
    #df_lagged = df_lagged[df_lagged.eq()]
    for i in range(0, QUARTERS_OF_LAG):
        shift_eq = df_lagged.eq(df_lagged.shift())
        keep = shift_eq[maintained_columns[0]]
        for j in range(1, len(maintained_columns)):
            keep = keep & shift_eq[maintained_columns[j]]
        #df[df.eq(df.shift())["country"]]
        #keep.head(50)
        df_lagged = df_lagged[keep]
        #print("lagged i" + str(i) + " of " + str(QUARTERS_OF_LAG))
    
    #df_lagged = df_lagged[df_lagged["TIME_PERIOD"] >= quarters[QUARTERS_OF_LAG]]
    return df_lagged

#df_lagged = add_lagged_features(df, ["TOTAL_POS", "TOTAL_APPS"], ['citizen', 'age', 'sex', 'geo'], QUARTERS_OF_LAG)

#df_lagged

In [169]:
#****************************************************lagging testing****************************************************
#simple tests
tdf0_data = [['AR', 1, 1], ['AR', 2, 2], ['AR', 3, 3], ['AR', 4, 4], ['AR', 5, 5]]
tdf0 = pd.DataFrame(data=tdf0_data, columns=['citizen', 'TIME_PERIOD', 'val'])
tdf1_data = [['AR', 2, 2, 1], ['AR', 3, 3, 2], ['AR', 4, 4, 3], ['AR', 5, 5, 4]]
tdf1 = pd.DataFrame(data=tdf1_data, columns=['citizen', 'TIME_PERIOD', 'val', 'val - lag 1 quarter'])
tdf2_data = [['AR', 3, 3, 2, 1], ['AR', 4, 4, 3, 2], ['AR', 5, 5, 4, 3]]
tdf2 = pd.DataFrame(data=tdf2_data, columns=['citizen', 'TIME_PERIOD', 'val', 'val - lag 1 quarter', 'val - lag 2 quarters'])
tdf3_data = [['AR', 4, 4, 3, 2, 1], ['AR', 5, 5, 4, 3, 2]]
tdf3 = pd.DataFrame(data=tdf3_data, columns=['citizen', 'TIME_PERIOD', 'val', 'val - lag 1 quarter', 'val - lag 2 quarters', 'val - lag 3 quarters'])

assert equivalent_dfs(add_lagged_features(tdf0, ["val"], ['citizen'], 1), 
                      tdf1), "basic lag test failed, shift=1"
assert equivalent_dfs(add_lagged_features(tdf0, ["val"], ['citizen'], 2), 
                      tdf2), "basic lag test failed, shift=2"
assert equivalent_dfs(add_lagged_features(tdf0, ["val"], ['citizen'], 3), 
                      tdf3), "basic lag test failed, shift=3"

#more advanced tests
tdf4_data = [['AU', 1, 1], ['AU', 2, 2], ['AU', 3, 3], ['AU', 4, 4], ['AU', 5, 5],
            ['NZ', 1, 11], ['NZ', 2, 12], ['NZ', 3, 13], ['NZ', 4, 14], ['NZ', 5, 15]]
tdf4 = pd.DataFrame(data=tdf4_data, columns=['citizen', 'TIME_PERIOD', 'val'])
tdf5_data = [['AU', 2, 2, 1], ['AU', 3, 3, 2], ['AU', 4, 4, 3], ['AU', 5, 5, 4],
            ['NZ', 2, 12, 11], ['NZ', 3, 13, 12], ['NZ', 4, 14, 13], ['NZ', 5, 15, 14]]
tdf5 = pd.DataFrame(data=tdf5_data, columns=['citizen', 'TIME_PERIOD', 'val', 'val - lag 1 quarter'])
tdf6_data = [['AU', 3, 3, 2, 1], ['AU', 4, 4, 3, 2], ['AU', 5, 5, 4, 3],
            ['NZ', 3, 13, 12, 11], ['NZ', 4, 14, 13, 12], ['NZ', 5, 15, 14, 13]]
tdf6 = pd.DataFrame(data=tdf6_data, columns=['citizen', 'TIME_PERIOD', 'val', 'val - lag 1 quarter', 'val - lag 2 quarters'])


assert equivalent_dfs(add_lagged_features(tdf4, ["val"], ['citizen'], 1), 
                      tdf5), "lag with shared times test failed, shift=1"
assert equivalent_dfs(add_lagged_features(tdf4, ["val"], ['citizen'], 2), 
                      tdf6), "lag with shared times test failed, shift=2"

#very complicated tests
tdf7_data = [['AU', 1, 1], ['AU', 2, 2], ['AU', 3, 3], ['AU', 4, 4], ['AU', 5, 5],
            ['NZ', 2, 12], ['NZ', 3, 13], ['NZ', 4, 14], ['NZ', 5, 15]]
tdf7 = pd.DataFrame(data=tdf7_data, columns=['citizen', 'TIME_PERIOD', 'val'])
tdf8_data = [['AU', 2, 2, 1], ['AU', 3, 3, 2], ['AU', 4, 4, 3], ['AU', 5, 5, 4],
            ['NZ', 3, 13, 12], ['NZ', 4, 14, 13], ['NZ', 5, 15, 14]]
tdf8 = pd.DataFrame(data=tdf8_data, columns=['citizen', 'TIME_PERIOD', 'val', 'val - lag 1 quarter'])

assert equivalent_dfs(add_lagged_features(tdf7, ["val"], ['citizen'], 1), 
                      tdf8), "lag with differing start times test failed, shift=2"

print("all lagging tests passed")

all lagging tests passed

In [118]:
add_lagged_features(tdf7, ["val"], 1)

  country  TIME_PERIOD  val  val - lag 1 quarter
1      AU            2    2                    1
2      AU            3    3                    2
3      AU            4    4                    3
4      AU            5    5                    4
5      NZ            2   12                    5
6      NZ            3   13                   12
7      NZ            4   14                   13
8      NZ            5   15                   14

In [156]:
df2 = df[df['TIME_PERIOD'] > "2022"].head(50)
shift_eq = df2.eq(df2.shift())
keep = shift_eq["citizen"] & shift_eq["sex"] & shift_eq["age"] & shift_eq["geo"]
#df[df.eq(df.shift())["country"]]
keep.head(50)
df3 = df2[keep]

In [158]:
df3

,citizen,sex,age,geo,TIME_PERIOD,GENCONV,HUMSTAT,SUB_PROT,REJECTED,TOTAL_POS,TOTAL_APPS
57,AD,F,UNK,AT,2022-Q2,0,0,0,0,0,0
58,AD,F,UNK,AT,2022-Q3,0,0,0,0,0,0
59,AD,F,UNK,AT,2022-Q4,0,0,0,0,0,0
60,AD,F,UNK,AT,2023-Q1,0,0,0,0,0,0
61,AD,F,UNK,AT,2023-Q2,0,0,0,0,0,0
119,AD,F,UNK,BE,2022-Q2,0,0,0,0,0,0
120,AD,F,UNK,BE,2022-Q3,0,0,0,0,0,0
121,AD,F,UNK,BE,2022-Q4,0,0,0,0,0,0
122,AD,F,UNK,BE,2023-Q1,0,0,0,0,0,0
123,AD,F,UNK,BE,2023-Q2,0,0,0,0,0,0
181,AD,F,UNK,BG,2022-Q2,0,0,0,0,0,0
182,AD,F,UNK,BG,2022-Q3,0,0,0,0,0,0
183,AD,F,UNK,BG,2022-Q4,0,0,0,0,0,0
184,AD,F,UNK,BG,2023-Q1,0,0,0,0,0,0
185,AD,F,UNK,BG,2023-Q2,0,0,0,0,0,0
243,AD,F,UNK,CH,2022-Q2,0,0,0,0,0,0
244,AD,F,UNK,CH,2022-Q3,0,0,0,0,0,0
245,AD,F,UNK,CH,2022-Q4,0,0,0,0,0,0
246,AD,F,UNK,CH,2023-Q1,0,0,0,0,0,0
247,AD,F,UNK,CH,2023-Q2,0,0,0,0,0,0
301,AD,F,UNK,CY,2022-Q2,0,0,0,0,0,0
302,AD,F,UNK,CY,2022-Q3,0,0,0,0,0,0
303,AD,F,UNK,CY,2022-Q4,0,0,0,0,0,0
304,AD,F,UNK,CY,2023-Q1,0,0,0,0,0,0
305,AD,F,UNK,CY,2023-Q2,0,0,0,0,0,0
363,AD,F,UNK,CZ,2022-Q2,0,0,0,0,0,0
364,AD,F,UNK,CZ,2022-Q3,0,0,0,0,0,0
365,AD,F,UNK,CZ,2022-Q4,0,0,0,0,0,0
366,AD,F,UNK,CZ,2023-Q1,0,0,0,0,0,0
367,AD,F,UNK,CZ,2023-Q2,0,0,0,0,0,0
425,AD,F,UNK,DE,2022-Q2,0,0,0,0,0,0
426,AD,F,UNK,DE,2022-Q3,0,0,0,0,0,0
427,AD,F,UNK,DE,2022-Q4,0,0,0,0,0,0
428,AD,F,UNK,DE,2023-Q1,0,0,0,0,0,0
429,AD,F,UNK,DE,2023-Q2,0,0,0,0,0,0
487,AD,F,UNK,DK,2022-Q2,0,0,0,0,0,0
488,AD,F,UNK,DK,2022-Q3,0,0,0,0,0,0
489,AD,F,UNK,DK,2022-Q4,0,0,0,0,0,0
490,AD,F,UNK,DK,2023-Q1,0,0,0,0,0,0
491,AD,F,UNK,DK,2023-Q2,0,0,0,0,0,0
549,AD,F,UNK,EE,2022-Q2,0,0,0,0,0,0

In [40]:
#****************************************************splitting****************************************************
TARGET_VAR = "REJECTED"

y = df_lagged[TARGET_VAR]
X = df_lagged.drop(['GENCONV', 'HUMSTAT', 'SUB_PROT', 'REJECTED', 'TOTAL_POS'], axis=1)
#PLAN:
#of 62 quarters...
#QUARTERS_OF_LAG are lost bc they wont have the needed lagged features
    
new_quarters = [q for q in quarters if q >= quarters[QUARTERS_OF_LAG]]
quarter_count = len(new_quarters) - 1

train_split = 0.6
test_split = 0.2
val_split = 0.2

div_0 = new_quarters[0]
div_1 = new_quarters[int(quarter_count * train_split)]
div_2 = new_quarters[int(quarter_count * (train_split + test_split))]
div_3 = new_quarters[quarter_count]
    
X_train = X[(div_0 <= X["TIME_PERIOD"]) & (X["TIME_PERIOD"] < div_1)]
X_test = X[(div_1 <= X["TIME_PERIOD"]) & (X["TIME_PERIOD"] < div_2)]
X_val = X[(div_2 <= X["TIME_PERIOD"]) & (X["TIME_PERIOD"] < div_3)]

In [41]:
np.unique(X_train["TIME_PERIOD"])

array(['2010-Q1', '2010-Q2', '2010-Q3', '2010-Q4', '2011-Q1', '2011-Q2',
       '2011-Q3', '2011-Q4', '2012-Q1', '2012-Q2', '2012-Q3', '2012-Q4',
       '2013-Q1', '2013-Q2', '2013-Q3', '2013-Q4', '2014-Q1', '2014-Q2',
       '2014-Q3', '2014-Q4', '2015-Q1', '2015-Q2', '2015-Q3', '2015-Q4',
       '2016-Q1', '2016-Q2', '2016-Q3', '2016-Q4', '2017-Q1', '2017-Q2',
       '2017-Q3', '2017-Q4', '2018-Q1'], dtype=object)

In [42]:
np.unique(X_test["TIME_PERIOD"])

array(['2018-Q2', '2018-Q3', '2018-Q4', '2019-Q1', '2019-Q2', '2019-Q3',
       '2019-Q4', '2020-Q1', '2020-Q2', '2020-Q3', '2020-Q4'],
      dtype=object)

In [45]:
np.unique(X_val["TIME_PERIOD"])

array(['2021-Q1', '2021-Q2', '2021-Q3', '2021-Q4', '2022-Q1', '2022-Q2',
       '2022-Q3', '2022-Q4', '2023-Q1', '2023-Q2'], dtype=object)

In [48]:
len(np.unique(X_val["TIME_PERIOD"]))

10

In [6]:
#****************************************************feature scaling****************************************************

ordinal_ftrs = ['age', 'TIME_PERIOD']
ordinal_cats = [['UNK','Y_LT14','Y14-17','Y18-34','Y35-64','Y_GE65'], quarters]
onehot_ftrs = ['citizen', 'geo', 'sex']
minmax_ftrs = []
std_ftrs = []

# collect all the encoders
preprocessor = ColumnTransformer(
    transformers=[
        ('ord', OrdinalEncoder(categories = ordinal_cats), ordinal_ftrs),
        ('onehot', OneHotEncoder(sparse_output=False,handle_unknown='ignore'), onehot_ftrs),
        ('minmax', MinMaxScaler(), minmax_ftrs),
        ('std', StandardScaler(), std_ftrs)])

clf = Pipeline(steps=[('preprocessor', preprocessor)]) # for now we only preprocess 
                                                       # later on we will add other steps here


X_prep = clf.fit_transform(X)
#X_train_prep = clf.fit_transform(X_train)
#X_val_prep = clf.transform(X_val)
#X_test_prep = clf.transform(X_test)

#print(X_train.shape)
#print(X_train_prep.shape)
#print(X_train_prep)
X_prep

array([[ 0., 16.,  1., ...,  1.,  0.,  0.],
       [ 0., 17.,  1., ...,  1.,  0.,  0.],
       [ 0., 18.,  1., ...,  1.,  0.,  0.],
       ...,
       [ 1., 48.,  0., ...,  0.,  0.,  1.],
       [ 1., 49.,  0., ...,  0.,  0.,  1.],
       [ 1., 50.,  0., ...,  0.,  0.,  1.]])